APP_NAME=asset-management
APP_ENV=dev
APP_HOST=0.0.0.0
APP_PORT=8000
LOG_LEVEL=INFO

DB_HOST=mariadb-asset-management
DB_PORT=3306
DB_NAME=assetdb
DB_USER=assetapp
DB_PASSWORD=AssetApp_2025

JWT_SECRET=CHANGE_ME_SUPER_SECRET
JWT_ALGO=HS256
JWT_EXPIRE_MINUTES=480

ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin_change_me

